<div class="center">
  <div class="home">
    <img
      src="assets/images/create-password-icon.png"
      alt="landing-page"
      class="home-img"
    />
    <form
      [formGroup]="createPasswordForm"
      (ngSubmit)="submit()"
      class="home-form"
    >
      <div class="home-info">
        <h1 class="home-header">Create Password</h1>

        <mat-form-field appearance="outline" class="home-input">
          <mat-label>Password</mat-label>
          <input
            type="password"
            autocomplete="off"
            formControlName="password"
            matInput
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="home-input">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            autocomplete="off"
            formControlName="confirmPassword"
            matInput
          />
        </mat-form-field>
        <div class="home-body">
          <p>Password must be :</p>
          <ul>
            <li>atleast 8 characters</li>
            <li>mixture of both uppercase and lowercase letters.</li>
          </ul>
        </div>
      </div>

      <div class="home-button">
        <button
          mat-flat-button
          color="primary"
          class="home-button"
          type="submit"
          [disabled]="loading"
        >
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
