<div class="center">
  <div class="home">
    <img
      src="assets/images/create-password-icon.png"
      alt="landing-page"
      class="home-img"
    />
    <div class="home-info">
      <h1 class="home-header">Create Password</h1>
      <form class="home-form">
        <mat-form-field
          class="password"
          appearance="outline"
          class="home-input"
        >
          <mat-label>Password</mat-label>
          <input type="password" matInput />
        </mat-form-field>
        <br />
        <mat-form-field
          class="confirm password"
          appearance="outline"
          class="home-input"
        >
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput />
        </mat-form-field>
      </form>
      <div class="home-body">
        <p>Password must be :</p>
        <ul>
          <li>atleast 8 characters</li>
          <li>mixture of both uppercase and lowercase letters.</li>
        </ul>
      </div>
    </div>

    <div class="home-button">
      <button
        mat-flat-button
        color="primary"
        class="home-button"
        (click)="navigateTo('/auth')"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
