<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="profile">
      <img
        src="assets/images/sample_dp.png"
        alt="logo.png"
        class="profile-img"
      />
      <div class="profile-info">
        <h1>Rowell Pagayunan</h1>
        <p>View Profile</p>
      </div>
    </div>
    <div class="menu-list">
      <button mat-flat-button color="primary" class="nav-button">
        <mat-icon class="nav-icon">info_outline</mat-icon>
        <h1>Brgy Blank Info</h1>
      </button>
      <button mat-flat-button color="primary" class="nav-button">
        <mat-icon class="nav-icon">event_note</mat-icon>
        <h1>How-Tos</h1>
      </button>
      <button mat-flat-button color="primary" class="nav-button">
        <mat-icon class="nav-icon">help_outline</mat-icon>
        <h1>FAQs</h1>
      </button>
      <button mat-flat-button color="primary" class="nav-button">
        <mat-icon class="nav-icon">bookmark_border</mat-icon>
        <h1>About E-Barrio</h1>
      </button>
    </div>
    <div class="action">
      <button mat-flat-button color="primary" class="button">Logout</button>
    </div>
  </div>
</div>
