<div class="center">
  <div class="home">
    <img
      src="assets/images/verify_id.png"
      alt="landing-page"
      class="home-img"
    />
    <div class="home-info">
      <h1 class="home-header">We need to verify your ID</h1>
      <p class="home-body">
        In order to create an account, we need to be 100% sure that You are You.
      </p>
      <p class="home-body">
        You just need to go through some steps which will help us build a secure
        system together.
      </p>
    </div>
    <div class="home-button">
      <button
        mat-flat-button
        color="primary"
        class="home-button"
        (click)="navigateTo('/select-id')"
      >
        Verify
      </button>
    </div>
  </div>
</div>
