<div class="center">
  <div class="home">
    <img
      src="assets/images/login-icon.png"
      alt="landing-page"
      class="home-img"
    />
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="home-form">
      <div class="home-info">
        <h1 class="home-header">Email</h1>

        <mat-form-field class="email" appearance="outline" class="home-input">
          <mat-label>Email</mat-label>
          <input
            type="email"
            autocomplete="off"
            formControlName="email"
            matInput
          />
        </mat-form-field>
        <br />
        <mat-form-field
          class="password"
          appearance="outline"
          class="home-input"
        >
          <mat-label>Password</mat-label>
          <input
            type="password"
            autocomplete="off"
            formControlName="password"
            matInput
          />
        </mat-form-field>
      </div>

      <div class="home-button">
        <button
          mat-flat-button
          color="primary"
          class="home-button"
          type="submit"
          [disabled]="loading || !loginForm.valid"
        >
          Log In
        </button>
        <a class="home-body" (click)="navigateTo('/auth/forgot-password')">
          Forgot Password?
        </a>
      </div>
    </form>
  </div>
</div>
