<div class="center">
  <div class="home">
    <img
      src="assets/images/sample_dp.png"
      alt="landing-page"
      class="home-img"
    />
    <div class="home-info">
      <h1 class="home-header">Congratulations! Rowell</h1>
      <p class="home-body">
        You successfully created an E-Baryo account. Wait for your barangay
        admin to verify your credentials.
      </p>
    </div>
    <div class="home-button">
      <button
        mat-flat-button
        color="primary"
        class="home-button"
        (click)="submit('/home')"
      >
        Continue
      </button>
    </div>
  </div>
</div>
