<div class="center">
  <div class="home">
    <img
      src="assets/images/complete-credentials.png"
      alt="landing-page"
      class="home-img"
    />
    <div class="home-info">
      <h1 class="home-header">Verify Account</h1>
      <p class="home-body">Lorem ipsum dolor sit amet</p>
    </div>

    <div class="home-steps">
      <mat-card class="home-steps-info" (click)="proceed('/verify-info')">
        <mat-card-header>
          <mat-card-title>
            <mat-icon *ngIf="isCompletedInfo">check_circle</mat-icon>
            <mat-icon *ngIf="!isCompletedInfo">check_circle_outline</mat-icon>
            <span> Personal Information</span>
          </mat-card-title>
          <mat-card-subtitle
            >Lorem ipsum dolor sit amet, consec adipiscing
            elit.</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <br />
      <mat-card class="home-steps-info" (click)="proceed('/verify-id')">
        <mat-card-header>
          <mat-card-title>
            <mat-icon *ngIf="isCompletedInfo">check_circle</mat-icon>
            <mat-icon *ngIf="!isCompletedInfo">check_circle_outline</mat-icon>
            <span> Use identity card</span>
          </mat-card-title>
          <mat-card-subtitle
            >Lorem ipsum dolor sit amet, consec adipiscing
            elit.</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
    </div>

    <div class="home-steps"></div>
    <div class="home-action">
      <p *ngIf="isCompletedInfo">
        Waiting for your account to be fully verified. Please be patient.
      </p>
    </div>
  </div>
</div>
