<div class="center">
  <div class="home">
    <img
      src="assets/images/forgot-password.png"
      alt="landing-page"
      class="home-img"
    />
    <div class="home-info">
      <h1 class="home-header">Find Your Account</h1>
      <form class="home-form">
        <mat-form-field class="email" appearance="outline" class="home-input">
          <mat-label>Email</mat-label>
          <input type="email" matInput />
        </mat-form-field>
      </form>
    </div>

    <div class="home-buttons">
      <button mat-flat-button class="home-button" (click)="navigateTo('/auth')">
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        class="home-button"
        (click)="navigateTo('/auth/check-mail')"
      >
        Continue
      </button>
    </div>
  </div>
</div>
