<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="content-title">
      <h1>Notifications</h1>
    </div>
    <div class="content-list">
      <div class="notification">
        <mat-icon
          aria-hidden="false"
          fontIcon="folder_shared"
          class="notification-icon"
        ></mat-icon>
        <div class="notification-info">
          <h1>Your <span>Barangay Certificate</span> request is now ready.</h1>
          <h5>3:44PM</h5>
        </div>
      </div>
      <div class="notification">
        <mat-icon
          aria-hidden="false"
          fontIcon="folder_shared"
          class="notification-icon"
        ></mat-icon>
        <div class="notification-info">
          <h1>Your <span>Barangay Certificate</span> request is now ready.</h1>
          <h5>3:44PM</h5>
        </div>
      </div>
      <div class="notification">
        <mat-icon
          aria-hidden="false"
          fontIcon="folder_shared"
          class="notification-icon"
        ></mat-icon>
        <div class="notification-info">
          <h1>Your <span>Barangay Certificate</span> request is now ready.</h1>
          <h5>3:44PM</h5>
        </div>
      </div>
      <div class="notification">
        <mat-icon
          aria-hidden="false"
          fontIcon="folder_shared"
          class="notification-icon"
        ></mat-icon>
        <div class="notification-info">
          <h1>Your <span>Barangay Certificate</span> request is now ready.</h1>
          <h5>3:44PM</h5>
        </div>
      </div>
      <div class="notification">
        <mat-icon
          aria-hidden="false"
          fontIcon="folder_shared"
          class="notification-icon"
        ></mat-icon>
        <div class="notification-info">
          <h1>Your <span>Barangay Certificate</span> request is now ready.</h1>
          <h5>3:44PM</h5>
        </div>
      </div>
    </div>
  </div>
</div>
